

{
    "test": {},
    "development": {
        "address": "localhost",
        "port": 3002,
        "db": {
            "host": "192.168.86.50",
            "user": "root",
            "password": "a5882097",
            "database": "demo_nodejs",
            "port": 3307,
            "connectionLimit": 100,
            "show_clog": false
        },
        "log": {
            "db_log": {
                "host": "192.168.86.50",
                "port": 3307,
                "user": "root",
                "password": "a5882097",
                "database": "demo_nodejs",
                "connectionLimit": 100,
                "show_clog": false
            }
        },
        file: {
            file_name: "test.txt",
            path: "./public/file"
        },
        "status": {},
        "output_interval": 60000

    },
    "production": {}
}